@charset "utf-8";

body{ background-image: url("han.jpg"); background-size: cover; margin: auto; color: white;
	}

/*content*/
[class^="braile"]{margin: 10% 0 0; width: 95%; background-repeat: no-repeat; background-size: contain; background-position: center;}

#bar{width: 100%; height: 44px; }

#back{ width: 32px; height: 17px; background-size: cover;
	background-image: url("arrow.png"); margin: 0 7% 0 ; }

.content{width: 80%; height: 80%; margin-top:-20%;}
.title{font-size: 22px; float: left; margin-left: 5%;}



/*swiper*/
.swiper-container {
	position: absolute;
    width: 100%;
    height: 100%;
}
.swiper-slide {
	height: 95%;
    text-align: center;
    font-size: 18px;
	display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
	align-items: center;
}

