@charset "utf-8";
/* CSS Document */

.braile{height: 60%; background-image: url( "qiuz/aplar.png");}
.braile1{height: 17%; background-image: url( "qiuz/roma.png");}
.braile2{height: 60%; background-image: url( "qiuz/roma kiho.png");}
.braile3{height: 41%; background-image: url( "qiuz/sujar.png");}
.braile4{height: 90%; background-image: url( "qiuz/kiho.png");}
.braile5{height: 35%; background-image: url( "qiuz/sujar kiho.png");}

.piont, .explanation{font-family: "AppleSDGothicNeoL00"; float: left;}
.piont{font-size: 17px;}
.piont ol{padding: 0; font-size: 15px;}
.explanation{
	margin-top: 10%;
	width: 100%;
	text-align: left;
	font-size: 15px;
}
.small{font-size: 10px; text-align: left; color: #ECE6CE; }