@charset "utf-8";

.braile{height: 38%; background-image: url("../qiuz/jarumm.png");}
.braile1{height: 38%; background-image: url("../qiuz/jarumm jung.png");	}
.braile2{height: 60%; background-image: url( "../qiuz/moumm.png");}
.braile4{height: 40%; background-image: url( "../qiuz/jarumm y.png");}
.braile5{height: 38%; background-image: url( "../qiuz/moumm y.png");}
.braile6{height: 52%; background-image: url( "../qiuz/y.png");}

.piont, .explanation{font-family: "AppleSDGothicNeoL00"; float: left; text-align: left;}
.piont{font-size: 17px;}
.explanation{
	margin-top: 10%;
	width: 100%;
	font-size: 15px;
}
.small{font-size: 10px; text-align: left; color: #ECE6CE; }